.container {
    max-width: 350px;
    height: 250px;
    background: red;
  }
  
  .characters {
    height: 50px;
    border: 1.5px solid #ffffff;
    padding: 10px;
    border-radius: 20px;
    background: #F8F8FC;
 }
  
  .character {
    line-height: 50px;
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: rgba(87,95,107,0.7);
    margin: 0px 4px;
    width: 50px;
    text-align: center;
    -webkit-box-shadow: inset 2px 2px 5px -1px rgba(0,0,0,0.15); 
    box-shadow: inset 2px 2px 5px -1px rgba(0,0,0,0.15);
    background: #FFFFFF;
    border: none;
  }
